body {
  margin: 0;
  font-family: Helvetica;
}

h1 {
  font-weight: bold;
}

#logo {
  height: 80px;
  weight: 80px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
